<div>
    <div>
        <h1>João Victor de Assis Siqueira</h1>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae sit ex temporibus nam at pariatur nesciunt necessitatibus doloribus enim, nihil rerum, debitis quia soluta voluptate. Commodi quaerat similique ea unde!</p>
    </div>
    <div>
        <h1>Minhas Redes</h1>
        <a href="https://github.com/Joncmen">Github</a>
        <a href="https://www.linkedin.com/in/joncmen/">Linkedin</a>
    </div>
</div>